@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: "Sora", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active svg,
.active p {
  color: #21252a;
}
